<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">My Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs">List Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs/add">Add Blog</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <!-- Page content will be displayed here -->
        <%= body %>
    </div>

    <!-- Bootstrap JS (optional, if needed) -->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
